.agrupamento_campo {
	border-radius: 0.5rem;
	height: 3rem;
	background-color: #fcf5ed;
	box-shadow: 0px 2px 4px #000000;
	margin-bottom: 1rem;
}

.input_esp {
	color: rgb(44, 54, 57);
	font-size: 1.25rem;
	border: none;
	outline: none;
	background-color: #fcf5ed;
	text-align: center;
	margin-right: 1rem;
	width: 20rem;
}

@media (max-width: 1400px) {
	.agrupamento_campo {
		width: 65%;
	}

	.input_esp {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.input_esp {
		margin-right: 0;
	}
}
